@include keyframes('on-canvas-menu') {
  0% {
    left: -93%;
  }
  100% {
    left: 0;
  }
}

@include keyframes('off-canvas-menu') {
  0% {
    left: 0;
  }
  100% {
    left: -93%;
  }
}

@include keyframes('slide-in') {
  0% {
    opacity: 0;
    margin-left: 100%;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@include keyframes('slide-out') {
  0% {
    opacity: 1;
    margin-left: 0;
  }
  100% {
    opacity: 0;
    margin-left: 100%;
  }
}


@include keyframes('fade-in') {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Geneic animation classes
.fade-hidden {
  opacity: 0;
}

.fade-in {
  @include animation(fade-in 1s forwards);
}

.slide-off {
  @include animation(slide-out .6s forwards);
}

.slide-on {
  @include animation(slide-in .6s forwards);
}
