html, body {
  font-size: 13px;
  line-height: 1.666666667;
  color: #1d3541;
}

a {
  color: $color-link;
}

.main-heading {
  font-size: 3rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  margin-bottom: 1.77rem;
  padding-bottom: 0;
  font-weight: 900;
  text-transform: uppercase;
  font-family: $font-family-main-headings;
}

.sub-heading {
  font-size: 1.666666667rem;
  margin: 0;
  padding: 0;
  font-weight: 900;
  line-height: 1;
}

.summary {
  font-style: italic;
  opacity: .8;
  text-transform: lowercase;
  padding-bottom: 1.55rem;
  padding-top: .3rem;
  margin: 0;
  line-height: 1;
  &:last-child {
    margin-bottom: 0;
  }
}

p {
  font-weight: 100;
}

.intro-text {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.1rem;
}

main {
  padding-top: 3.1rem;
  padding-bottom: 10rem;
  p {
    max-width: $layout-content-width;
    margin: auto;
    margin-top: 1.666666667rem;
  }
}
