html, body {
  line-height: 1.8rem;
  color: #1d3541;
  font-weight: 100;
  font-size: 24px;
}

a {
  color: $color-link;
  &:hover {
    color: darken($color-link, 10%);
  }
}

// Heading level 1.
h1, .h1 {
  font-size: 2rem;
  line-height: 2rem;
  font-family: $font-family-main-headings;
  font-weight: 900;
}

// Heading level 2.
h2, .h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}

// Heading level 3.
h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

// Heading level 4.
h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

// Heading level 5.
h5, .h5 {
  font-size: 1rem;
  line-height: 1.25rem;
}

// Heading level 6.
h6, .h6 {
  font-size: 0.75rem;
  line-height: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p + p {
  text-indent:20px;
}

b.intro-text {
  text-transform: uppercase;
  font-weight: 400;
}

blockquote {
  margin-left: 0;
  p {
    font-family: $font-family-body;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.blog-heading {
  color: $color-bg-standout;
  i {
    color: white;
    font-style: normal;
  }
}

main {
  padding-top: 3.1rem;
  padding-bottom: 5rem;
  p {
    max-width: $layout-content-width;
    margin: auto;
  }
}

.a-post-about {
  display: block;
  text-transform: uppercase;
  color: $color-link;
  font-weight: 900;
  font-size: 0.75rem;
}

.post-heading {
  display: block;
}

.summary {
  font-style: italic;
  font-size: 0.75rem;
  
}