/* Colours */
$color-bg-standout : #1d3541;
$color-bg-blog : #00cca8;
$color-link : #00cca8;
$color-sam : #fc4f70;
$color-twitter : #00c2ec;
$color-blog : #00cca8;
$color-instagram : #5854fb;
$color-user : #00cca8;


/* Layout Variables (no grid this time) */
$layout-max-width: 940px;
$layout-content-width: 620px;

/* Fonts */
$font-family-body: 'Ideal Sans', sans-serif;
$font-family-main-headings: 'Gotham HTF', sans-serif;
