/* Colours */
$color-bg-standout : #1d3541;
$color-link : #00cca8;
$color-dribbble : #fc4f70;
$color-twitter : #00c2ec;
$color-flickr : #5854fb;
$color-instagram : #00cca8;

/* Layout Variables (no grid this time) */
$layout-max-width: 620px;
$layout-content-width: 320px;

/* Fonts */
$font-family-body: 'Ideal Sans', sans-serif;
$font-family-main-headings: 'Gotham HTF', sans-serif;
