.blog {
  padding-bottom: 3.3rem;
}

.post {
  padding-bottom: 6rem;
}

.post-blurb {
  width: 100%;
  max-width: $layout-max-width;
  margin: auto;
  padding-bottom: 1.666666667rem;
  p {
    margin-top: 0;
    margin-bottom: 1.666666667rem;
    max-width: 240px;
  }
}

.blog-nav {
  max-width: $layout-max-width - 100;
  margin: auto;
  padding-top: 2.5rem;
  overflow: auto;
}
