.site-header {
  background: $color-bg-standout;
  width: 100%;
  max-width: $layout-max-width;
  margin: auto;
  overflow: auto;
}

.intro, .avatar {
  display: block;
  width: 50%;
  float: left;
  margin-bottom: 0;
}

.intro {
  box-sizing: border-box;
  padding: 2.916666667rem;
  padding-bottom: 0;
  color: white;
}

.intro--blog {
  width: 100%;
  background: $color-bg-blog;
  padding-bottom: 2.916666667rem;
}
