.social {
  display: block;
  width: 100%;
  max-width: $layout-max-width;
  margin: auto;
  overflow: auto;
}

.social-link {
  width: 25%;
  float: left;
  display: block;
  line-height: 1.7;
  padding: 4rem 4rem 2.8rem;
  text-align: center;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  background: $color-bg-standout;
}

.social-link--dribbble {
  background-color: $color-dribbble;
}

.social-link--twitter {
  background-color: $color-twitter;
}

.social-link--flickr {
  background-color: $color-flickr;
}

.social-link--instagram {
  background-color: $color-instagram;
}
